<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Lista di tutti i film
    </ion-title>
    <ion-buttons (click)="create()" slot="end">
      <ion-icon name="add-outline"></ion-icon>
    </ion-buttons> 
   </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Movies</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="all-movies">
  <app-list [filmsArray]="moviesList" (film)="edit($event)"  (filmEdit)="modifica($event)" (filmDelete)="delete($event)"></app-list>
  </div>



</ion-content>
