<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="movie" href="/tabs/movie">
      <ion-icon name="videocam-outline"></ion-icon>
      <ion-label>Movie</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="celebrity" href="/tabs/celebrity">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Celebrity</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person-circle-outline"></ion-icon>      
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
