


<app-range (ionChange)="ratingItem($event)"></app-range>

<ion-content color="light">
  <ion-list [inset]="true">
    <ion-item-sliding *ngFor="let item of items | orderBy:'rating'">
      <ion-item [button]="true" (click)="detailsItem(item)">

        <ion-label
          ><h1 class="title">
            <span [minRating]="5" [questoFilmFaSchifo]="item.rating | toInt:1">{{ item.text }}</span
            >
          </h1>
          <span *ngFor="let a of item.attori" class="actors"> {{a.celebrityName}} - </span
        ></ion-label>
        <ion-label class="ion-text-wrap" slot="end">
          <p class="year">{{item.year}}</p>
          <p class="rating">{{ item.rating! | toInt:1 }}</p>
        </ion-label>
      </ion-item>

      <app-progress-bar [value]="item.rating | toInt:1"></app-progress-bar>

      <ion-item-options slot="end">
        <ion-item-option color="warning">
          <ion-icon
            slot="icon-only"
            (click)="editItem(item)"
            name="create-outline"
          ></ion-icon>
        </ion-item-option>

        <ion-item-option color="danger" button (click)="deleteItem(item)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding> </ion-list
></ion-content>
