.title{
    text-align: center;
    color: hsl(258, 100%, 50%);
    font-family: fantasy;
    display:list-item;
   /* &.questo-film-fa-cagare{
        color:hsla(0, 43%, 9%, 0.883);
    }*/
}

.year{
    color: black;
    font-size: small;
}

.rating{
    font-size: medium;
}
.actors{
    font-family: sans-serif;
    font-size: medium;
    display:contents;
    text-align: center;
}
