.title{
    text-align: justify;
    color: hsl(258, 100%, 50%);
    font-family: fantasy;
   /* &.questo-film-fa-cagare{
        color:hsla(0, 43%, 9%, 0.883);
    }*/
}

.year{
    color: black;
    font-size: small;
}

.rating{
    font-size: medium;
}
