<ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button default-href="#list.html"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>

    <ion-card color="secondary" *ngIf="celebrity">
        <ion-card-header>
          <ion-card-title>{{celebrity.name}}</ion-card-title>
          <ion-card-subtitle>{{celebrity.birthYear}}</ion-card-subtitle>
          <ion-card-subtitle>{{celebrity.deathYear}}</ion-card-subtitle>
          <ion-card-subtitle *ngFor="let movie of celebrity.movies" [routerLink]="['/tabs/movie/detail/',movie.movieId ]">{{movie.movieTitle}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
