<body id="div1"> 
<h1 class="titolo">{{benvenuto}}</h1>
<p class="corpo">{{corpo}}</p>

<ion-list id="lista1">
  <ion-item>
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" src="https://th.bing.com/th/id/R.0b54317e1c4a728d915b64863dd70519?rik=N5KfVQu2W50xPA&pid=ImgRaw&r=0" />
    </ion-avatar>
    <ion-label>Julia Green</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" src="https://th.bing.com/th/id/R.8c012738dc65a6c1abf2817ac8f1c8f5?rik=SPT%2fyv%2f9JLPTDA&pid=ImgRaw&r=0" />
    </ion-avatar>
    <ion-label>John Doe</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" src="https://th.bing.com/th/id/OIP.eTjkVVwKUmhm7IpXC7cYiAAAAA?pid=ImgDet&w=256&h=256&rs=1" />
    </ion-avatar>
    <ion-label>Francesca Bianchi</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" src="https://th.bing.com/th/id/OIP.a_C9v1H7RBbVyFjU4udThgHaKX?pid=ImgDet&rs=1" />
    </ion-avatar>
    <ion-label>Andrew Johnson</ion-label>
  </ion-item>
</ion-list> 

</body> 