.titolo{
    color: blueviolet;
    text-align: center;
    font-family: fantasy;
    text-shadow: 2px 2px 5px white;
    position: static;
}

#div1{
    background-image:url("https://th.bing.com/th/id/R.ff9045ad67b5b1dcc12c969daf0efc16?rik=EI0QUPqGmGlllQ&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fGlRc0tL.jpg&ehk=WBZgwSyIyx%2fQXaT85Gd7%2bAeB5UNIMdc2QfDtDXqUg8c%3d&risl=&pid=ImgRaw&r=0");
    position: static;

}
#lista1{
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 10%;
    position: static;

}

.corpo{
    text-align: center;
    color: whitesmoke;
    font-family: fantasy;
    font-size: 20px;
    text-shadow: 2px 2px 5px blueviolet;
    position: static;
}

